@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide default spinner */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
::-webkit-scrollbar{
  width: 0;
}
.tooltip::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 10px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #DC2626 transparent transparent transparent;
}